<div class="col-12">
    <div class="row">
        <div class="bottom-icon">
            <!--<button class="btn" type="button" (click)="open()">
            <nb-action icon="message-circle-outline" class="green-icon"></nb-action>
            </button>-->
            <button class="btn" type="button">
            <nb-action icon="email-outline" class="yellow-icon"></nb-action>
            </button>
            <button class="btn" type="button">
            <nb-action icon="phone-call-outline" class="blue-icon"></nb-action>
            </button>
        </div>
    </div>
</div>