<div class="main-title">{{'ORDERS_ADDED_PROBLEM'|translate}}</div>
<nb-card class="col-md-12 col-lg-12 col-xxxl-12 pt-20 pb-20">
    <nb-card-body>     
        <div class="back" *ngIf="!showDetail">
            <nb-icon icon="arrow-ios-back-outline" class="blue-icon" [routerLink]="['/pages/task/task-page']" style="cursor:pointer; margin-bottom: 0;"></nb-icon>
        </div>
        <div class="row"> 
        <div class="table-search searh-area mb-30" *ngIf="!showDetail" style="float: left; margin-top: 25px;">
            <input #search nbInput fullWidth class="search size-medium shape-rectangle" type="text" placeholder="{{'SEARCH_INPUT_PLACE_HOLDER'|translate}}" (keyup)="onSearch(search.value)">
            <span class="input-group-btn">
                <button class="btn" type="button" (click)="onSearch(search.value)">
                    <nb-action icon="search-outline" class="search-blue-icon"></nb-action>
                </button>
            </span>
            <div class="table-small-text">
                <p class="small">*{{'CUSTOMER_SEARCH_INFO'|translate}}.</p>
            </div>
        </div>  
        <div class="siparis-select" *ngIf="!showDetail" >
            <div class="col-md-12">
                <label>{{'TIME_PERIOD' |translate}}</label>
            </div>
            <div class="col-md-12">
                <nb-select placeholder="Aralık Seçiniz" [ngModel]="dateRangeValue" (ngModelChange)="getProblematicOrders($event)">
                    <nb-option *ngFor="let dateRange of dateRangeList" [value]="dateRange.value">
                        {{dateRange.name | translate}}</nb-option>
                </nb-select>
            </div>
        </div> 
    </div>  
        <div class="order-area">
            <div style="overflow-x:auto;">
                <ngx-datatable *ngIf="!showDetail" [data]="problematicOrders" [searchQuery]="searchQuery" (userRowSelect)="userRowSelect($event)" style="cursor:pointer;">
                    <ngx-datatable-column #columns title="ORDER_NO" value="OrderNo" [search]="true"></ngx-datatable-column>
                    <ngx-datatable-column #columns title="PROBLEM_DATE" value="ProblemDate" ></ngx-datatable-column>
                    <ngx-datatable-column #columns title="CUSTOMER" value="CustomerName" [search]="true"></ngx-datatable-column>
                    <ngx-datatable-column #columns title="PROBLEM_SOURCE" value="ProblemResource" ></ngx-datatable-column>
                    <ngx-datatable-column #columns title="PROBLEM_TYPE" value="ProblemType" ></ngx-datatable-column>
                </ngx-datatable>
            </div>               
        </div>
        <div class="order-detail" *ngIf="showDetail">
            <div class="back">
                <nb-icon icon="arrow-ios-back-outline" class="blue-icon" (click)="showDetail=false;"></nb-icon>
            </div>
            <table>
                <tr>
                  <th>{{'ORDER_NO'|translate}}</th>
                  <th>{{'CUSTOMER'|translate}}</th>
                  <th>{{'PROBLEM_SOURCE'|translate}}</th>
                  <th>{{'PROBLEM_TYPE'|translate}}</th>
                  <th>{{'PRIORITY'|translate}}</th>
                </tr>
                <tr  style="cursor: pointer;" (click)="showOrderDetailModal()">
                  <td>{{selectedOrder.OrderNo}}</td>
                  <td>{{selectedOrder.CustomerName}}</td>
                  <td>{{selectedOrder.ProblemResource}}</td>
                  <td>{{selectedOrder.ProblemType}}</td>
                  <td><div class="circle-yellow"></div></td>
                </tr>
            </table>           
            <div class="customer-info row pt-30">
                <div class="col-lg-3 col-md-4 col-sm-4 col-4">
                    <p><strong>{{'PROBLEM_DATE'|translate}}:</strong></p>
                </div>
                <div class="col-lg-9 col-md-8 col-sm-8 col-8">
                    <p>{{selectedOrder.ProblemDate}}</p>
                </div>
            </div>        
            <div class="customer-info row">
                <div class="col-lg-3 col-md-4 col-sm-4 col-4">
                    <p><strong>{{'PROBLEM_TYPE'|translate}}:</strong></p>
                </div>
                <div class="col-lg-9 col-md-8 col-sm-8 col-8">
                    <p>{{selectedOrder.ProblemType}}</p>
                </div>
            </div>
            <div class="customer-info row">
                <div class="col-lg-3 col-md-4 col-sm-4 col-4">
                    <p><strong>{{'PROBLEM_DETAIL'|translate}}:</strong></p>
                </div>
                <div class="col-lg-9 col-md-8 col-sm-8 col-8">
                    <p>{{selectedOrder.ProblemDetail}}</p>
                </div>
            </div>
          <!--  <div class="customer-info row">
                <div class="col-lg-3 col-md-4 col-sm-4 col-4">
                    <p><strong>Alınacak Aksiyon:</strong></p>
                </div>
                <div class="col-lg-9 col-md-8 col-sm-8 col-8">
                    <p>Müşteriden evrak talep et</p>
                </div>
            </div>
            <div class="customer-info row">
                <div class="col-lg-3 col-md-4 col-sm-4 col-4">
                    <p><strong>Alınacak Aksiyon:</strong></p>
                </div>
                <div class="col-lg-9 col-md-8 col-sm-8 col-8">
                    <p>Evrak talep edildi</p>
                </div>
            </div>
            <div class="customer-info row">
                <div class="col-lg-3 col-md-4 col-sm-4 col-4">
                    <p><strong>Muhatap:</strong></p>
                </div>
                <div class="col-lg-9 col-md-8 col-sm-8 col-8">
                    <p>Araç sorumlusu</p>
                </div>
            </div>-->
            <div class="customer-info row">
                <div class="col-lg-3 col-md-4 col-sm-4 col-4">
                    <p><strong>{{'EXPLANATION'|translate}}:</strong></p>
                </div>
                <div class="col-lg-9 col-md-8 col-sm-8 col-8">
                    <p>{{selectedOrder.ProblemNote}}</p>
                </div>
            </div>
            <div class="customer-info row">
                <div class="col-lg-3 col-md-4 col-sm-4 col-4">
                    <p ><strong>{{'STATUS'|translate}}:</strong></p>
                </div>
                <div class="col-lg-9 col-md-8 col-sm-8 col-8">
                    <p>{{selectedOrder.ProblemStatus}}</p>
                </div>
            </div>
            <!--<div class="customer-info row pt-10">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <button nbButton name="" class="button button-green">KAYDET</button>
                </div>
            </div>-->
            <hr>
<!--             <app-communication-comp></app-communication-comp>
 -->        </div>
    </nb-card-body>
</nb-card>

<ng-template #orderDetailModal let-data let-ref="dialogRef" style="overflow-y: auto;">
    <specific-order-component #specificOrderComponent [orderCode]="selectedOrder.OrderNo"></specific-order-component>
</ng-template>
