<div class="modal fade" bsModal #informationModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1"
    role="dialog" aria-labelledby="dialog-static-name">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" (click)="informationModal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <div class="col-md-12">
                    <div class="modal-text">
                        <p>{{dialogModalMessage}}</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <ng-container *ngIf="buttons">
                    <ng-container *ngFor="let button of buttons">
                        <button type="button" (click)="this[button.click()]" class="btn {{button.class || 'btn-blue'}}">{{button.label | translate}}
                            <ng-container *ngIf="button.icon">
                                <nb-icon [icon]="button.icon" [ngClass]="button.iconClass"></nb-icon>
                            </ng-container>
                        </button>
                    </ng-container>
                </ng-container>
                <ng-container *ngIf="!buttons">
                    <button (click)="runMethodState()" *ngIf="openYesButton" [ngClass]="'btn btn-green'">{{'YES' | translate}}</button>
                    <button (click)="closeDialog()" [ngClass]="'btn btn-gray'">{{'CLOSE' | translate}}</button>
                </ng-container>
            </div>
        </div>
    </div>
</div>